# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Django
db.sqlite3
*.sqlite3
media/clones/*.zip
media/previews/
eme_media/previews/
*.log
nav_audit_*.json
output.json
out.log
static/EME_OS.apk

# System
.DS_Store
Thumbs.db
.idea/
.vscode/

# Local
project.zip
eme_mobile_dist.zip
